header.header
  .header__container 
    .header__logo
      img(src="images/logo.png", width="210", height='74', alt="")
    .header__contact
      a.header__contact-email(href="mailto:info@house88.ru") info@house88.ru
      .header__contact-text По всем вопросам
