header.header
  .header-container 
    .header-wrapper
      img(src="images/header/smmagnat.svg", alt="Логотип smmagnat").header__smmagnat

      img(src="images/header/header-logo.png", alt="Логотип smmagnat Club").header__logo

      .header-contacts
        a(href="mailto:info@smmagnat.ru").header-contacts__item
          | info@smmagnat.ru
        span.header-contacts__text
          | По всем вопросам
