.content {
  padding-top: 437px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  height: 2327px;
}

.info {
  display: flex;
  padding-bottom: 198px;

  &__half {
    flex-basis: 50%;
  }
}
