.topics {
  margin: 0 auto 0 74px;

  @include media(1439) {
    margin: 0;
    padding: 0;
  }

  &-list {
    // counter-reset: item;

    @include max("md") {
      font-size: vw(38);

      br {
        display: none;
      }
    }

    &__item {
      display: flex;
      &:not(:last-of-type) {
        margin-bottom: 22px;

        @include max("md") {
          margin-bottom: vw(34);
        }
      }

      &-counter {
        margin-right: 1px;

        @include max("md") {
          margin-right: vw(11);
        }
      }

      // &::before {
      //   counter-increment: item;
      //   content: "" counter(item) ". ";
      // }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 42px;

    @include max("md") {
      font-size: vw(54);
      margin-bottom: vw(72);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -50px;
      left: -52px;
      right: 0;
      height: 62px;
      background-image: url("../images/topics/topics-underline.png");
      background-repeat: no-repeat;

      @include max("md") {
        bottom: vw(-50);
        left: vw(-24);
        height: vw(62);
      }
    }
  }
}
