.footer {
  display: flex;
  justify-content: space-between;
  padding: 100px 71px 116px 53px;
  font-family: $mainFont;
  color: $black;
  background-color: $white;

  &-half {
    display: flex;
    flex-direction: column;

    &__left {
      text-align: left;
    }

    &__right {
      text-align: right;
    }
  }

  &-text {
    &__top {
      margin-bottom: 46px;
      font-size: 40px;
      font-weight: 500;
    }

    &__bottom {
      font-size: 28px;
      opacity: 0.6;
    }
  }

  &-link {
    transition: all ease-out 0.3s;

    @include hover {
      color: $orange;
      opacity: 1;
      transition: all ease-out 0.3s;
    }
  }
}
