.footer {
  display: flex;
  justify-content: space-between;
  // padding: 100px 71px 116px 53px;
  padding: 100px 0 116px 0;
  font-family: $mainFont;
  color: $black;
  background-color: $white;

  @include max("md") {
    padding: vw(100) 0 vw(116) 0;
  }

  &-half {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 71px 0 53px;

    @include max("md") {
      padding: 0 vw(71) 0 vw(53);
    }

    &__left {
      text-align: left;
    }

    &__right {
      // text-align: right;
      align-items: flex-end;
    }
  }

  &-text {
    &__top {
      margin-bottom: 46px;
      font-size: 40px;
      font-weight: 500;

      @include max("md") {
        margin-bottom: vw(46);
        font-size: vw(40);
      }
    }

    &__bottom {
      font-size: 28px;
      opacity: 0.6;

      @include media(1439) {
        max-width: 294px;
      }

      @include max("md") {
        font-size: vw(28);
        max-width: vw(294);
      }
    }
  }

  &-link {
    transition: all ease-out 0.3s;

    @include hover {
      color: $orange;
      opacity: 1;
      transition: all ease-out 0.3s;
    }
  }
}
