.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  &-container {
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    padding: 143px 187px 0 188px;
  }

  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 139px;
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

    &__item {
      transition: color ease-out 0.3s;

      @include hover {
        color: $orange;
        transition: color ease-out 0.3s;
      }
    }

    &__text {
      font-size: 18px;
      font-weight: 300;
      opacity: 0.6;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
