.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  &-container {
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    padding: 143px 187px 0 188px;

    @include media(1439) {
      padding: 99px 95px 0;
    }

    @include max("md") {
      padding: vw(99) vw(95) 0;
    }
  }

  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 139px;

    @include media(1439) {
      height: auto;
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

    &__item {
      transition: color ease-out 0.3s;

      @include hover {
        color: $orange;
        transition: color ease-out 0.3s;
      }
    }

    &__text {
      font-size: 18px;
      font-weight: 300;
      opacity: 0.6;

      @include max("md") {
        font-size: vw(18);
      }
    }

    @include max("md") {
      font-size: vw(21);
    }
  }

  &__smmagnat {
    @include media(1439) {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include media(1439) {
      position: relative;
      left: 0;
      transform: translateX(0);
      height: 98px;
    }

    @include max("md") {
      height: vw(98);
    }

    &-item {
      height: 100%;
      object-fit: contain;
    }
  }
}
