html {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-track {
  }

  ::-webkit-scrollbar-track-piece {
    background-color: black;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $purpleColor;
    border-radius: none;
  }

  ::-webkit-scrollbar-corner {
    background-color: #999;
  }

  ::-webkit-resizer {
    background-color: #666;
  }

  font-size: vw(21); //$fs-main;

  @include media(1200) {
    font-size: vw(18, 1200); //$fs-main;
  }

  @include media(768) {
    font-size: vw(21, 376);
  }
}

body {
  font-family: $mainFont;
  font-weight: 400;
  color: $textMainColor;
  background-color: #131313;
}

a {
  color: $selectColor1;
  text-decoration: underline;
  &:hover {
    color: $selectColor2;
    text-decoration: none;
  }
}

.container {
  width: 100%;
  max-width: vw(1330);
  padding: 0 vw(15);
  margin: 0 auto;

  @include media(1200) {
    padding: 0 vw(15, 1200);
  }

  @include media(768) {
    padding: 0 vw(20, 376);
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.blur {
  filter: blur(4px);
}
