html {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: black;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $orange;
    border-radius: 0;
  }

  ::-webkit-scrollbar-corner {
    background-color: #999;
  }

  ::-webkit-resizer {
    background-color: #666;
  }

  font-size: 21px; //$fs-main;

  @include media(1220) {
    font-size: vw(38, 1000);
  }
}

body {
  font-family: $mainFont--book;
  font-weight: 400;
  color: $white;
  background-color: #131313;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.blur {
  filter: blur(4px);
}

.js-no-scroll {
  overflow: hidden;
}
