@font-face {
  font-family: "ALS Hauss";
  src: local("ALS Hauss Light"), local("ALS-HaussLight"),
    url("../fonts/ALSHauss-Light.woff2") format("woff2"),
    url("../fonts/ALSHauss-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*
@font-face {
	font-family: 'ALS Hauss';
	src: local('ALS Hauss Light Italic'), local('ALS-HaussLightItalic'),
	url('../fonts/ALSHauss-LightItalic.woff2') format('woff2'),
	url('../fonts/ALSHauss-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}*/

@font-face {
  font-family: "ALS Hauss Book";
  src: local("ALS Hauss Book"), local("ALS-HaussBook"),
    url("../fonts/ALSHauss-Book.woff2") format("woff2"),
    url("../fonts/ALSHauss-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALS Hauss";
  src: local("ALS Hauss Regular"), local("ALS-HaussRegular"),
    url("../fonts/ALSHauss-Regular.woff2") format("woff2"),
    url("../fonts/ALSHauss-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALS Hauss";
  src: local("ALS Hauss Medium"), local("ALS-HaussMedium"),
    url("../fonts/ALSHauss-Medium.woff2") format("woff2"),
    url("../fonts/ALSHauss-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALS Hauss";
  src: local("ALS Hauss Bold"), local("ALS-Hauss-Bold"),
    url("../fonts/ALSHauss-Bold.woff2") format("woff2"),
    url("../fonts/ALSHauss-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Denistina";
  src: local("Denistina"), url("../fonts/Denistina.woff2") format("woff2"),
    url("../fonts/Denistina.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: local("Druk Text Wide Medium"), local("Druk-Text-Wide-Medium"),
    url("../fonts/DrukTextWideMediumCy.woff2") format("woff2"),
    url("../fonts/DrukTextWideMediumCy.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: local("Druk Text Wide Bold"), local("Druk-Text-Wide-Bold"),
    url("../fonts/DrukTextWideCyr-Bold.woff2") format("woff2"),
    url("../fonts/DrukTextWideCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Levi Brush";
  src: local("Levi Brush"), local("Levi-Brush"),
    url("../fonts/LeviBrush.woff2") format("woff2"),
    url("../fonts/LeviBrush.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
