/* media */
$media-list: (
  "xxs": 375,
  "xs": 560,
  "sm": 767,
  "md": 1000,
  "lg": 1279,
  "xl": 1599,
  "xxl": 1900,
);

/* шрифты */
$mainFont: "ALS Hauss", "Arial", sans-serif;
$mainFont--book: "ALS Hauss Book", "Arial", sans-serif;

/* цвета */
$black: #000000;
$white: #ffffff;
$orange: #ff5210;
